<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyGo - About</title>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>
<body class="all">
    <h1 id="title">StudyGo</h1> 
    <h1 id="headbar">About StudyGo<br></br></h1>
    <div id= "bar">
        <button class="bartext"><a href="/">Home</a></button>
        <button class="barbar">Sets</button>
        <button class="barbar">Create</button>
        <button class="barbar"><a href="/about">About</a></button>
    </div>
</body>
</html>