<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyGo - About</title>
    <link rel = "icon" href="{{ url_for('static',filename='Logo.png') }}"/>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/about.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js"></script>
</head>
<body>
    <nav class="uk-navbar-container uk-navbar-primary" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/sets">Sets</a></li>
                <li><a href="/create">Create</a></li>
                <li class = "uk-active"><a href="/about">About</a></li>
            </ul>
    
        </div>
    </nav>

    <h1 class = "uk-margin-small" style = "margin-left: 10px; margin-right: 10px;">StudyGo was created by the St. Mark's School of Texas Computer science club.</h1>
    <br/>
    <h1 id="mentions" style = "text-color: black">
        Lead - Eric 'Papa john' Zhang
        <br/>
        Backend - Benjamin Standefer, Aryaman Lahoti
        <br/>        
        Frontend - Benjamin Standefer, Andy Wang, Camp Lemkin
        <br/>
        Designer - Neil Rakheja, Adam Tahirkheli
    </h1>
    <a href = "https://github.com/St-Marks-Computer-Science-Club/StudyGo" id="contribute">
        Please contribute to the github repository! 
    </a>
</body>
</html>
