<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyGo</title>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel = "icon" href="{{ url_for('static',filename='Logo.png') }}"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js"></script>
</head>
<body>

    <nav class="uk-navbar-container uk-navbar-primary" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class = "uk-active"><a href="/">Home</a></li>
                <li><a href="/sets">Sets</a></li>
                <li><a href="/create">Create</a></li>
                <li><a href="/about">About</a></li>
            </ul>
    
        </div>
    </nav>

   <center>
        <h1 class = "uk-margin-large" style = "margin-top: 20px; font-size: 100px; font-family: monospace;" >Welcome to StudyGo!</h1>
    </center>

    
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" style = "margin-left: 20px; margin-right: 20px;" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="https://images.cdn3.stockunlimited.net/preview1300/male-student-sitting-reading-in-library_1879457.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Our Mission</h3>
                <p>Our mission is to provide a free, nonprofit education tool to make learning easier for children and adults everyhwere. Regardless of social or econonic standing, all people deserve the chance at a proper education, and at StudyGo, we believe in that idea wholeheartedly.</p>
            </div>
        </div>
    </div>
    
    <script>

</script>
</body>
</html>