<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyGo</title>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel = "icon" href="{{ url_for('static',filename='Logo.png') }}"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>
<body class="all">
    <img id="title" src="{{ url_for('static',filename='StudyGo.png') }}" alt="landscape-pic" width="140px" height="auto">
    <h1 id="headbar">Welcome to StudyGo! Create a flashset or explore our free public database of study materials!</h1>
    <div id= "bar">
        <button class="bartext"><a href="/">Home</a></button>
        <button class="barbar">Sets</button>
        <button class="barbar">Create</button>
        <button class="barbar"><a href="/about">About</a></button>
    </div>
    <div id="mission">Our mission is to provide a free, nonprofit education tool to make learning easier for children and adults everyhwere. Regardless of social or econonic standing, all people deserve <br><br> the chance at a proper education, and at StudyGo, we believe in that idea wholeheartedly.</div>
    <script>

</script>
</body>
</html>